* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-family: 'Merriweather', serif;
  font-family: 'Sora', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

.container {
  max-width: 1920px;
  width: 75%;
  margin: 0 auto;
}

.title {
  color: #131313;
  font-size: 2.1rem;
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}

.btn-primary {
  color: #FFF;
  text-align: center;
  font-size: 20px 25px;
  font-weight: 600;
  border-radius: 8px;
  background: #FF900E;
  padding: 20px;
  border: none;
  cursor: pointer;
}

/* header styles */
header {
  background: rgba(255, 144, 14, 0.10);
  padding: 50px 0px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


nav>ul {
  display: flex;
}

.header-img img {
  width: 100%;
  height: 525px;
  object-fit: cover;
}

nav ul li {
  list-style: none;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #424242;
  font-weight: 500;
  font-size: 1rem;
}

/* banner styles */
.banner {
  max-width: 862px;
  width: 60%;
  margin: 100px auto 0px;
}

.banner * {
  margin-bottom: 42px;
}

.banner-title {
  color: #131313;
  font-size: 3rem;
  font-weight: 700;
}

/* team area styles */
main {
  background-color: #FFF;
}

.team-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  margin-top: 80px;
}

.img-team {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.img-team,
.text-team {
  width: 50%;
}

.img-team img {
  width: 100%;
  height: 250px;
}

.quick-list {
  color: #727272;
  font-weight: 500;
}

.features {
  color: #FF900E;
}

.text-team * {
  margin-bottom: 30px;
}

/* features area styles */
.features-content * {
  margin-bottom: 20px;
}

.features-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  margin-top: 100px;
}

.features-section>div {
  width: 50%;
}

.card {
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 10px 20px;
}

.features-content h1 {
  position: relative;
  left: 5%;
}

.features-content h1::after {
  content: '';
  position: absolute;
  background-color: #FF900E;
  width: 5px;
  height: 100%;
  top: 0;
  left: -5%;
}

.card-title {
  color: #131313;
  font-size: 1.2rem;
  font-weight: 600;
}

.features-img {
  position: relative;
}

.features-img img {
  width: 100%;
  height: 982px;
}

.experience {
  display: inline-block;
  cursor: auto;
  position: absolute;
  left: -16%;
  bottom: -8%;

}

.Year {
  font-size: 3rem;
  font-weight: 700;
  line-height: 70px;
}

/* facts area styles */
.facts {
  margin-top: 120px;
}

.facts .facts-description {
  max-width: 542px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.box-container {
  display: flex;
  justify-content: space-around;
  gap: 5px;
}

.box {
  border-radius: 8px;
  border: 1px solid #FF900E;
  width: 180px;
  text-align: center;
  padding: 20px 0;
}






/* media query mobile or small devices */
@media screen and (max-width: 576px) {
  .container {
    width: 95%;
  }

  nav,
  .team-area,
  .box-container,
  .features-section {
    flex-direction: column;

  }

  nav ul {
    margin-top: 30px;
  }

  nav ul li {
    margin-right: 10px;
  }

  .banner {
    width: 100%;
    margin-top: 40px;
  }
  .box{
    width: 100%;
  }
  .img-team,
  .text-team,
  .features-section>div {
    width: 100%;
  }

  .img-team {
    grid-template-columns: 1fr;
  }

  .experience {
    left: 0%;
    bottom: -8%;

  }

  .box {
    margin: 0 auto 20px;
  }

}
.text-light-gray{
  color: #727272;
}


/* media query tablet or medium devices */
@media screen and (min-width:576px) and (max-width: 768px) {
  .container {
    width: 90%;
  }

  nav,
  .features-section {
    flex-direction: column;
  }

  nav ul {
    margin-top: 30px;
  }

  .banner {
    width: 100%;
    margin-top: 50px;
  }

  .team-area {
    flex-direction: column-reverse;
  }

  .img-team,
  .text-team,
  .features-section>div {
    width: 100%;
  }

  .experience {
    left: 0%;
    bottom: -8%;

  }

}